body, html {
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #000;
  height: 100%;
  width: 100%;
}

#game-container {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
}

canvas {
  display: block;
}